.ai-image-generator{
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.aiwala{
    color: #DE1B89;
    font-weight: 600;
}

.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    width: 512px;
}

.search-box{
display: flex;
width: 1000px;
height: 95px;
justify-content: space-around;
align-items: center;
border-radius: 50px;
background: #1F3540;
}

.search-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder{
    color: #999;
}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 75px;
    font-size: 20px;
    border-radius: 50px;
    background: #DE1B89;
    position: relative;
    left: 20px;
    transition: 0.5s ease;
}

.generate-btn:hover{
    cursor: pointer;
    background-color: #da58a2;
}

.images-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    grid-template-rows: repeat(4, 1fr); /* Creates 4 rows */
    gap: 5px; /* Small gap between all images */
    padding: 20px;
  }
  
.image {
    aspect-ratio: 1; /* Optional: maintains square shape */
    width: 70%;
}
  
.image img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 8px;
}